*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #212121;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}

#main-container {
    display: flex;
    width: 100%;
}

.newchat-button{
    margin-bottom: 5px;
    padding: 10px 20px;
    width: 100%;
    background-color: #464d84;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.newchat-button:hover{
    background-color: #5a5f9e;
}

.newchat-button:active{
    background-color: #3a3f6e;
    transform: scale(0.95);
}

#sidebar {
    width: 20%;
    border-radius: 13px;
    background-color: #333;
    padding: 10px;
    box-sizing: border-box;
    height: 75vh;
}

#sidebar h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

#chat-list {
    list-style-type: none;
    padding: 0;
}

#chat-list li {
    padding: 10px;
    border: 1px solid #5a5a5a;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #444;
    color: white;
    border-radius: 5px;
}

#chat-list li:hover {
    background-color: #555;
}

#chat-area {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    padding-top: 0px;
    margin-top: 0px;
    height: 75vh;
}

#chat-container {
    height: 80%;
    margin: 20px auto;
    border: 1px solid #2c2c2c;
    padding: 10px;
    border-radius: 13px;
    overflow-y: scroll;
    background-color: #151515;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

#input-area {
    margin-top: 10px;
}

#message-input:focus {
    outline: none;
}

#message-input {
    width: 88%;
    padding: 10px;
    border: 0px solid #bbbbbb;
    color: white;
    border-radius: 5px;
    background-color: #2e2e2e;
    transition: 0.3s;
    font-size: 1.1rem;
}

#message-input:hover {
    background-color: #3e3e3e;
}

#send-button {
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #464d84;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#send-button:hover{
    background-color: #5a5f9e;
}

#send-button:active{
    background-color: #3a3f6e;
    transform: scale(0.95);
}

.logo{
    padding-top: 30px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.user-message {
    background-color: #5c5c5c;
    text-align: right;
    padding: 10px 20px;
    border-radius: 15px 15px 0px 15px;
    margin-bottom: 15px;
}

.assistant-message {
    background-color: #212121;
    text-align: left;
    padding: 10px 20px;
    border-radius: 15px 15px 15px 0px;
    margin-bottom: 15px;
}

.custom-select-wrapper {
    position: relative;
    width: 100%;
    user-select: none;
    margin-bottom: 10px;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #000000; */
    cursor: pointer;
    width: 100%;
}

.custom-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #4b4b4b;
    color: rgb(255, 255, 255);
}

.custom-select-trigger .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}

.custom-options {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #434343;
    box-shadow: 8px 8px 8px rgba(3, 3, 0, 3);
    width: 100%;
    /* border: 1px solid #ccc; */
    border-top: none;
    z-index: 2;
}

.custom-options.open {
    display: flex;
}

.custom-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.custom-option:hover, .custom-option.selected {
    background-color: #616b72;
}

.option-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.header-h1 {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.assistant-message table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

.assistant-message th, .assistant-message td {
    border: 1px solid #484848;
    padding: 8px;
    text-align: left;
}

.assistant-message th {
    background-color: #464646;
    font-weight: bold;
}

a{
    color: rgb(157, 210, 140);
}
B2CBIYEZDBHL29NHS8N0TCHQPA5XRA90EKPYBHALCZVLH2UN8YZ7O860C0GM19H1