*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #212121;
    color: white;
}

h1{
    text-align: center;
}

#chat-container {
    margin-right: 10px;
    margin-left: 10px;
    height: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    background-color: #151515;
}



.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap;
}

#input-area {
    margin-top: 10px;
}

#message-input:focus {
    outline: none;
}

#message-input {
    width: 90%;
    padding: 10px;
    border: 0px solid #bbbbbb;
    color: white;
    border-radius: 5px;
    background-color: #2e2e2e;
    transition: 0.3s;
    font-size: 1.1rem;
}

#message-input:hover {
    background-color: #3e3e3e;
}

#send-button {
    font-size: 1.1rem;
    padding: 10px 20px;
    background-color: #464d84;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#send-button:hover{
    background-color: #5a5f9e;
}

#send-button:active{
    background-color: #3a3f6e;
    transform: scale(0.95);
}

.logo{
    padding-top: 30px;
    height: 50px;
    display: block;
    margin: 0 auto;
}

.user-message {
    background-color: #5c5c5c;
    text-align: right;
    padding: 10px 20px;
    border-radius: 15px 15px 0px 15px;
    margin-bottom: 15px;
}
.assistant-message {
    background-color: #212121;
    text-align: left;
    padding: 10px 20px;
    border-radius: 15px 15px 15px 0px;
    margin-bottom: 15px;
}



.custom-select-wrapper {
    position: relative;
    width: 230px;
    user-select: none;
    margin-bottom: 10px;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    cursor: pointer;
}

.custom-select-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(63, 63, 63);
}

.custom-select-trigger .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}

.custom-options {
    position: absolute;
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #444444;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 2;
}

.custom-options.open {
    display: flex;
}

.custom-option {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.custom-option:hover, .custom-option.selected {
    background-color: #616b72;
}

.option-icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

